<!DOCTYPE html>
<html lang = "en">
<head>
    <title>Arduino Sensor</title>
</head>
<body>
    <h1>Formulario</h1>
    <form action = "/api/phase/save" method = "post">
        <label for = "subject">Sujeto: </label>
        <input type = "text" name = "subject" id="subject"><br><br>

        <label for="phase">Fase:</label>
        <select name="phase" id="phase">
            <option value = "relx1">Relajación NIVEL 1</option>
            <option value = "anxt1">Ansiedad NIVEL 1</option>
            <option value = "relx2">Relajación NIVEL 2</option>
            <option value = "anxt2">Ansiedad NIVEL 2</option>
            <option value = "relx3">Relajación NIVEL 3</option>
            <option value = "anxt3">Ansiedad NIVEL 3</option>
        </select><br><br>

        <button type = "submit">Enviar</button>
    </form>
</body>
</html>